h1 {
    color: rgb(29, 3, 122);
    text-align: center;
}
p {
    color: rgb(174, 16, 143);
    font-size: 18px;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}